<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<script src="https://cdn.levelaccess.net/accessjs/YW1wX3V2YTExMDA/access.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

<link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | absolute_url }}" >
<link rel="apple-touch-icon" type="image/png" href="{{ "/assets/images/apple-touch-icon.png" | absolute_url }}">

<!-- Style sheets -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>


<!-- <link href="//fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic|Cabin:400,600,400italic" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->

<!-- <link rel="stylesheet" href="{{ "/assets/css/carousel.css" | prepend: site.url }}"> -->
<link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/docs.css" | absolute_url }}">

<!-- Feeds and Pingbacks -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href=" {{ "/feed.xml" | absolute_url }}">

<!-- Modernizr and Friends -->
<script src="{{ "/assets/js/modernizr.min.js" | absolute_url }}"></script>
<script>
    Modernizr.load([
        {
            test: Modernizr.mq(),
            nope: [
                '{{ '/assets/js/respond.min.js' | absolute_url }}',
                '{{ '/assets/js/selectivizr.min.js' | absolute_url }}'
            ]
        }
    ]);
    (function() {
        var cx = '009145345920904867543:1jiuohixchs';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>




