<header role="banner">
    <nav class="navbar-light bg-light">
      <div class="topnav">
            <a href="{{ site.url }}" title="{{ site.title }}"> 
              <img class="logo" src="{{ "/assets/images/neatline-logo-rgb.png" | prepend: site.url }}" alt="{{ site.title }}"/>
            </a>  
          <ul class="nav navigation">
            <li class="nav-item">
              <a class="nav-link" href="{{ "/about/" | prepend: site.url }}">What is Neatline?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/showcase/" | prepend: site.url }}">Showcase</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/plugins/" | prepend: site.url }}">Add-Ons</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{ "/themes/" | prepend: site.url }}">Themes</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User Guides
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ "/use-cases/" | prepend: site.url }}">Use Cases</a>
                  <!-- <a class="dropdown-item" href="{{ "/tutorials/" | prepend: site.url }}">Tutorials</a> -->
                  <a class="dropdown-item" href="{{ "/docs/" | prepend: site.url }}">Neatline for Omeka Classic</a>
                  <a class="dropdown-item" href="{{ "/docs-s/" | prepend: site.url }}">Neatline for Omeka S</a>
                </div>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="{{ "/blog/" | prepend: site.url }}">News</a>
            </li>
            <li class="nav-item">
              <a href="{{ "/publications/" | prepend: site.url }}" class="nav-link">Publications</a>
            </li>
            <li class="nav-item">
              <a href="{{ "/credits/" | prepend: site.url }}" class="nav-link">Credits</a>
            </li>
            <li class="nav-item">
              <a href="{{ "/search/" | prepend: site.url }}" class="btn btn-outline" title= "Search neatline.org" aria-label="Search neatline.org"><i class="fas fa-search"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    
</header>
