<header role="banner" class="container">

  <h1 id="logo">
    <a href="{{ site.url | prepend: "/" }}" title="{{ site.title }}">
      <img src="{{ "/images/neatline-logo-rgb.png" | prepend: site.url }}" alt="{{ site.title }}" />
    </a>
  </h1>

<!-- Google Search Box -->
<div id="custom_search">
<gcse:searchbox-only resultsUrl="/results/"></gcse:searchbox-only>
</div>

<!-- end Google Search Box -->

    <nav id="sitenav">
      <div class="trigger">
        <ul>
            <li><a href="{{ "/about/" | prepend: site.url }}" class="page-link">About</a></li>
            <li><a href="http://docs.neatline.org/" class="page-link">Documentation</a></li>
            <li><a href="{{ "/demos/" | prepend: site.url }}" class="page-link">Demos</a></li>
            <li><a href="{{ "/news/" | prepend: site.url }}" class="page-link">News</a></li>
            <li><a href="{{ "/plugins/" | prepend: site.url }}" class="page-link">Plugins</a></li>
            <li><a href="{{ "/credits/" | prepend: site.url }}" class="page-link">Credits</a></li>
        </ul>
      </div>
    </nav>

</header>
