<nav role="navigation" aria-label="Main navigation">
  <h4>Neatline User Guides</h4>
    {% for item in site.data.docs.toc-tutorials %}
  <h4>
    <a style="color:white; text-decoration:none; font-style:bold;" href="{{ item.url }}">{{ item.title }}</a>
  </h4>
    <ul class="navigation-list">
      {% for entry in item.subfolderitems %}
        <li class="navigation-list-item{% if entry.url == page.url %} active{% endif %}"><a class="navigation-list-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url }}">{{ entry.page }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
</nav>
        