<nav role="navigation" aria-label="Main navigation">
  <h4 data-toc-skip>
      <a style="color:white; text-decoration:none; font-style:bold;" href="{{ "/docs-s/" | prepend: site.url }}">
        Neatline for Omeka S
      </a>
  </h4>

  {% for item in site.data.docs.toc-s %}
  <h4 data-toc-skip>{{ item.title }}</h4>
    <ul class="navigation-list">
      {% for entry in item.subfolderitems %}
        <li class="navigation-list-item{% if entry.url == page.url %} active{% endif %}"><a class="navigation-list-link{% if entry.url == page.url %} active{% endif %}" href="{{ entry.url }}">{{ entry.page }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

</nav>
    