<nav role="navigation" aria-label="Main navigation">

  <h2 data-toc-skip>Getting Started</h2>

  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="{{ "/docs/what-is-neatline" | prepend: site.url }}">What is Neatline?</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="{{ "/docs/neatline-from-10000-meters" | prepend: site.url }}">Neatline Architecture</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="{{ "/docs/installing-neatline" | prepend: site.url }}">Installing Neatline</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="{{ "/docs/upgrading-to-v2" | prepend: site.url }}">Upgrading Neatline to 2.0</a>
    </li>
  </ul>
  
  <h2 data-toc-skip>Working with Exhibits</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/exhibits-overview" | prepend: site.url }}">Exhibits Overview</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/creating-exhibits" | prepend: site.url }}">Creating New Exhibits</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/map-based-exhibits" | prepend: site.url }}">Map-based Exhibits</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/image-based-exhibits" | prepend: site.url }}">Image-based Exhibits</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/managing-exhibits" | prepend: site.url }}">Managing Exhibits</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/user-permissions" | prepend: site.url }}">Managing User Permissions</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/publishing-exhibits" | prepend: site.url }}">Publishing Exhibits</a></li>
  </ul>
  
  <h2 data-toc-skip>Working with Neatline Plugins</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/working-with-the-simile-timeline-widget" | prepend: site.url }}">SIMILE Timeline</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/working-with-the-waypoints-plugin" | prepend: site.url }}">Waypoints</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/working-with-the-text-widget" | prepend: site.url }}">Neatline Text</a>
    </li>
  </ul>
  
  <h2 data-toc-skip>Working with the Neatline Editor</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/editor-overview" | prepend: site.url }}">Editor Overview</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/exhibit-styles-tab" | prepend: site.url }}">Exhibit Styles Tab</a>
    </li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/neatline-stylesheets" | prepend: site.url }}">Using Neatline Stylesheets</a>
    </li>
  </ul>
  
  <h2 data-toc-skip>Working With Records</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/records-overview" | prepend: site.url }}">Records Overview</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/creating-records" | prepend: site.url }}">Creating New Records</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/importing-omeka-items" | prepend: site.url }}">Importing Omeka Items</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/searching-records" | prepend: site.url }}">Searching Records</a></li>
  </ul>
  
  <h2 data-toc-skip>Editing Neatline Records</h2>
  <h2 data-toc-skip>Text Tab</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/text-tab" | prepend: site.url }}">Adding Text Content</a></li>
  </ul>
  
  <h2 data-toc-skip>Map Tab</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/map-tab-drawing-geometry" | prepend: site.url }}">Drawing Vector Annotations</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/map-tab-editing-geometry" | prepend: site.url }}">Editing Vector Annotations</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/map-tab-importing-svg" | prepend: site.url }}">Importing SVG Documents</a></li>
  </ul>
  
  <h2 data-toc-skip>Style Tab</h2>
  
  <ul>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-groups" | prepend: site.url }}">Editing Groups</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-colors" | prepend: site.url }}">Editing Colors</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-opacities" | prepend: site.url }}">Editing Opacities</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-dimensions" | prepend: site.url }}">Editing Dimensions</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-dates" | prepend: site.url }}">Editing Dates</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-imagery" | prepend: site.url }}">Editing Imagery</a></li>
    <li class="navigation-list-item"><a class="navigation-list-link" href="{{ "/docs/style-tab-visibility" | prepend: site.url }}">Editing Visibility</a></li>
  </ul>



</nav>
  