// Imports -------------------------------------------------------------------
@import "compass/reset";
@import "compass/css3";

// Colors --------------------------------------------------------------------

$default-color                  : #595959; //rgb(60,60,60)
$default-color-light            : rgba($default-color, 0.75);
$default-color-lighter          : rgba($default-color, 0.5);
$default-color-lightest         : rgba($default-color, 0.25);

$link-color                     : rgb(90,60,110);
$link-color-light               : lighten($link-color, 10%);
$link-color-alternate           : rgba(255, 128, 0, 0.75); //rgb(186, 158, 6)
$link-color-alternate-light     : lighten($link-color-alternate, 10%);

$link-visited-color             : $link-color;
$link-hover-color               : $link-color-alternate; //darken($link-color, 30%)
$link-focus-color               : $link-hover-color;
$link-active-color              : darken($link-color, 30%);


// ---------------------------------------------------------------------------

// Typography

$font-family-main: 'Lato', sans-serif !default;
$font-secondary: $font-family-main;
$base-font-size: 16px;
$base-line-height: 28px;
$font-family-title: $font-family-main;

$spacing-unit: $base-line-height;

$default-font: $font-family-main;

$font-weight-main: 400;
$font-weight-medium: 500;
$font-weight-demi: 700;