/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-caption {
  z-index: 10 !important;
  position: absolute;
  padding-top: .35rem !important;
  padding-bottom: 1rem !important;
  text-align: center;
  bottom: .5rem !important;
  background: rgba(#222, .4);
  border-radius: 3px;
  a {
    text-decoration: none !important;
  }
  h2, h3 {
    color: $white !important;
    margin: .5em 0 .5em 0;
    // font-weight: 500 !important;
    font-family: "Oswald","Cabin", "Lucida Grande", Verdana, sans-serif !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) !important;
  }
}

.carousel-indicators {
  display: block;
  list-style: none !important;
  display: flex !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  max-height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 30rem;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-control-prev {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control-next {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

