/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  // border-bottom: 1px solid $border-color;
  // -webkit-animation: $intro-transition;
  // animation: $intro-transition;
  // -webkit-animation-delay: 0.15s;
  // animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $font-family-main;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  z-index: 20;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

// Priority plus navigation
// ========================================================================== */

.greedy-nav {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
min-height: $nav-height;
background: $background-color;

a {
display: block;
margin: 0 1rem;
color: $masthead-link-color;
text-decoration: none;

&:hover {
 color: $masthead-link-color-hover;
}

&.site-logo {
 margin-left: 0;
 margin-right: 0.5rem;
}

&.site-title {
 margin-left: 0;
}
}

&__toggle {
-ms-flex-item-align: center;
align-self: center;
height: $nav-toggle-height;
border: 0;
outline: none;
background-color: transparent;
cursor: pointer;
}

.visible-links {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
overflow: hidden;

li {
 -webkit-box-flex: 0;
 -ms-flex: none;
 flex: none;
}

a {
 position: relative;

 &:before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 4px;
   background: $primary-color;
   width: 100%;
   -webkit-transition: $global-transition;
   transition: $global-transition;
   -webkit-transform: scaleX(0) translate3d(0, 0, 0);
   transform: scaleX(0) translate3d(0, 0, 0); // hide
 }

 &:hover:before {
   -webkit-transform: scaleX(1);
   -ms-transform: scaleX(1);
   transform: scaleX(1); // reveal
 }
}
}

.hidden-links {
position: absolute;
top: 100%;
right: 0;
margin-top: 15px;
padding: 5px;
border: 1px solid $border-color;
border-radius: $border-radius;
background: $background-color;
-webkit-box-shadow: 0 2px 4px 0 rgba(#000, 0.16),
 0 2px 10px 0 rgba(#000, 0.12);
box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

&.hidden {
 display: none;
}

a {
 margin: 0;
 padding: 10px 20px;
 font-size: $type-size-5;

 &:hover {
   color: $masthead-link-color-hover;
   background: $navicon-link-color-hover;
 }
}

&:before {
 content: "";
 position: absolute;
 top: -11px;
 right: 10px;
 width: 0;
 border-style: solid;
 border-width: 0 10px 10px;
 border-color: $border-color transparent;
 display: block;
 z-index: 0;
}

&:after {
 content: "";
 position: absolute;
 top: -10px;
 right: 10px;
 width: 0;
 border-style: solid;
 border-width: 0 10px 10px;
 border-color: $background-color transparent;
 display: block;
 z-index: 1;
}

li {
 display: block;
 border-bottom: 1px solid $border-color;

 &:last-child {
   border-bottom: none;
 }
}
}
}

.no-js {
.greedy-nav {
.visible-links {
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 overflow: visible;
}
}
}

/*
   Navicons
   ========================================================================== */

   .navicon {
    position: relative;
    width: $navicon-width;
    height: $navicon-height;
    background: $primary-color;
    margin: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: $navicon-width;
      height: $navicon-height;
      background: $primary-color;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  
    &:before {
      top: (-2 * $navicon-height);
    }
  
    &:after {
      bottom: (-2 * $navicon-height);
    }
  }
  
  .close .navicon {
    /* hide the middle line*/
    background: transparent;
  
    /* overlay the lines by setting both their top values to 0*/
    &:before,
    &:after {
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: $navicon-width;
    }
  
    /* rotate the lines to form the x shape*/
    &:before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
  
  .greedy-nav__toggle:hover {
    .navicon,
    .navicon:before,
    .navicon:after {
      background: mix(#000, $primary-color, 25%);
    }
  
    &.close {
      .navicon {
        background: transparent;
      }
    }
  }
  