---
layout: default
---
<div id="primary">
    <div class="post">

      <header class="post-header">
        <h1>{{ page.title }}</h1>
      </header>

      <article class="post-content">
      {{ content }}
      </article>

    </div>
</div>

<div id="secondary">
    <div class="textwidget">
        <h2>Current Neatline Team</h2>
            <ul>
                <li><a href="http://jeremyboggs.net/">Jeremy Boggs</a></li>
                <li><a href="http://scholarslab.org/people/shane-lin/">Shane Lin</a></li>
                <li><a href="http://scholarslab.org/people/katherine-donnally/">Katherine Donnally</a></li>
                <li><a href="http://scholarslab.org/people/zoe-leblanc/">Zoe LeBlanc</a></li>
                <li><a href="http://scholarslab.org/people/ronda-grizzle/">Ronda Grizzle</li>
            </ul>
        <h2>Funders</h2>
           <ul>
               <li><a href="http://odh.neh.gov">NEH Office of Digital Humanities</a></li>
               <li><a href="http://imls.gov">Institute for Museum and Library Services</a></li>
               <li><a href="http://loc.gov">Library of Congress</a></li>
           </ul>
        <h2>Partners</h2>
            <ul>
                <li><a href="http://www.performantsoftware.com/">Performant Software Solutions, LLC</a></li>
				<li><a href="http://chnm.gmu.edu">Roy Rosenzweig Center for History and New Media</a></li>
            </ul>
        <h2>Special Thanks</h2>
           <ul>
               <li><a href="http://lib.virginia.edu">University of Virginia Library</a></li>
			   <li>Bethany Nowviskie</li>
			   <li>Wayne Graham</li>
               <li>David McClure</li>
			   <li>Adam Soroka</li>
               <li>Joe Gilbert</li>
               <li><a href="http://www.davidrumsey.com/">David Rumsey</a></li>
               
           </ul>
        <h2>Past Advisors</h2>
            <ul>
                <li><strong>Ellen Dunlap</strong>. President, American Antiquarian Society</li>
                <li><strong>N. Turk McCleskey</strong>. Professor of History, Virginia Military Institute</li>
                <li><strong>Jerome McGann</strong>. John Stewart Bryan Professor of English, University of Virginia</li>
                <li><strong>Michael Plunkett</strong>. Director Emeritus of Special Collections, University of Virginia Library</li>
                <li><strong>Daniel Pitti</strong>. Associate Director, Institute for Advanced Technology in the Humanities</li>
            </ul>
    </div>
</div>
