<!DOCTYPE html>
<html lang="en-us">
<head>
{% include head.html %}
<link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>
<script type="text/javascript" src="{{ "/assets/js/mobile-menu.js" | absolute_url }}"></script>
</head>

<body data-spy="scroll" data-target="#toc">
<a href="#main" id="skipnav">Skip to main content</a>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% include header.html %}
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color:#f8f9fa;">
            <span class="fs-3"><button class="js-aux-nav js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span> 
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-3">
            <nav class="sticky-top">
            <div class="main-nav js-main-nav">
                {% if page.collection == 'docs' or page.title == "Neatline for Omeka Classic" %}
                <div class="sidebar-item">
                    {% include nav.html %}                  
                </div>
                {% endif %} 
                {% if page.collection == 'docs-s' or page.title == "Neatline for Omeka S" %}
                <div class="sidebar-item-s">
                    {% include nav-s.html %}
                </div>
                {% endif %}
            </div>
            </nav>
        </div>
        <div class="col-sm-7">
            <div class="content-section">
                <main id="main" class="main-content container js-main-content" role="main" >
                {{ content }}  
                
                {% if page.collection == 'docs' or page.title == "Neatline for Omeka Classic" %}
                {% include page-nav.html %} 
                {% endif %}
                </main>
            </div>
        </div>
        <div class="col-sm-2">
            {% if page.collection == 'docs' and page.title != "Neatline for Omeka Classic" %}
            <nav id="toc" data-toggle="toc" class="sticky-top">
                <h4>{{ page.title }}</h4>
            </nav>
            {% endif %}
            {% if page.collection == 'docs-s' and page.title != "Neatline for Omeka S" %}
            <nav id="toc" data-toggle="toc" class="sticky-top docs-s">
                <h4>{{ page.title }}</h4>
            </nav>
            {% endif %}
        </div>
        </div>
    </div>

<footer role="contentinfo">
    {% include footer.html %}
</footer>
<script src="/assets/js/flex-nav.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/bootstrap/bootstrap.bundle.min.js" | absolute_url }}"></script>
<script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>
</body>
</html>
    