<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link rel="icon" type="image/png" href="{{ "images/favicon.png" | prepend: site.url }}" >

    <link rel="apple-touch-icon" type="image/png" href="{{ "images/apple-touch-icon.png" | prepend: site.url }}">

    <!-- Style sheets -->
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,600,400italic,600italic|Cabin:400,600,400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ "/css/carousel.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.url }}">


    <!-- Feeds and Pingbacks -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href=" {{ "/feed.xml" | prepend: site.url }}">

    <!-- Modernizr and Friends -->
    <script src="{{ "/js/modernizr.min.js" | prepend: site.url }}"></script>
    <script>
        Modernizr.load([
                {
                    test: Modernizr.mq(),
                    nope: ['{{ '/js/respond.min.js' | prepend: site.url }}',
                                '{{ '/js/selectivizr.min.js' | prepend: site.url }}'
                    ]
                }
            ])
    </script>

    <!-- Neatline feed from scholarslab.org -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="/js/feedek.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
         $('#feed').FeedEk({
            FeedUrl: 'http://www.scholarslab.org/tag/neatline/feed/',
            MaxCount: 5,
            ShowDesc: true,
            ShowPubDate: false,
            DescCharacterLimit: 200
          });
        });
    </script>

</head>


    <body>

    {% include header.html %}

    <div id="content" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    </body>
</html>
